html, body {
    background-color: #000;
    height: 100%;
}

.house-result {
    display: none;
}

.gryffindor-bg { background-color: #d74f3f; }
.hufflepuff-bg { background-color: #fbb72c; }
.ravenclaw-bg { background-color: #22326a; }
.slytherin-bg { background-color: #005d4b; }
.gryffindor-text { color: #d74f3f; }
.hufflepuff-text { color: #fbb72c; }
.ravenclaw-text { color: #22326a; }
.slytherin-text { color: #005d4b; }

.house-header {
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.house-body {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container-fluid {
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.-padding-top-50 {
    padding-top: 50px !important;
}

* {
    color: #fff;
}